.sign-in-and-sign-up {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    @media screen and (max-width: 600px) {
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: center;
        min-width: 100vw;
    }
}